* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Amaranth", sans-serif;
  font-family: "Kanit", sans-serif;
}
.container {
  background-color: black;
  color: white;
}

.header {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  padding: 15px 0;
  /* border: 2px solid yellow; */
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 37px;
  font-weight: bold;
}
input {
  width: 500px;
  padding: 15px;
  font-size: 20px;
  color: gray;
  background-color: transparent;
  border-color: transparent;
  border-radius: 5px;

  outline: none;
}
.nav-text {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  width: 300px;
  font-size: 17px;
  font-weight: bold;
}

.body {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  /* border: 2px solid yellow; */
  padding: 40px 0px;
}
.body h1 {
  margin-left: 45px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 48px;
}
.cart,
.tag,
.payment {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.cart div,
.tag div,
.payment div {
  width: 80px;
  height: 80px;
  background-color: rgb(243, 196, 7);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.cart img,
.tag img,
.payment img {
  width: 60%;
  height: 60%;
}
.about-images {
  margin: 0 35px;
}
.cart p,
.tag p,
.payment p {
  margin-left: 20px;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bold;
}

.clock img {
  width: 250px;
  height: 250px;

  background-color: rgb(243, 196, 7);
  border-radius: 50%;
  margin-bottom: 20px;
}
.about-images {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.btn button {
  width: 250px;
  font-size: 30px;
  height: 6rem;
  border-radius: 50px;
  background-color: rgb(243, 196, 7);
}
.right-images {
  margin-right: 50px;
}
.out-category {
  width: 90%;
  margin: auto;
  /* border: 2px solid yellow; */
}
.out-category h1 {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-left: 45px;

  font-weight: 600;
  font-size: 45px;
}
.cards {
  width: 346px;
  height: 360px;
  /* border: 1px solid red; */

  padding: 15px;
}
.category-card {
  width: 85%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 40px;

  justify-content: space-between;
}
.cards h2 {
  font-weight: 600;

  font-size: 30px;
}
.cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 20px 0;
}
.cards button {
  /* float: right; */

  padding: 15px 25px;
  background-color: rgb(243, 196, 7);
  font-size: 20px;
  border-radius: 30px;

  float: right;
  margin-top: 30px;
}

.footer {
  width: 90%;
  margin: auto;

  margin-top: 100px;
}
.footer-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.site-map,
.socials {
  flex: 1;
}

.company-description {
  margin-right: 12rem;
  flex: -1;
  width: 600px;
}
.company-description h1 {
  font-size: 40px;
  margin: 10px 0;
}
.company-description p {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
}
.site-map,
.socials {
  list-style-type: none;
}
.site-map a,
.socials a {
  text-decoration: none;

  color: white;
  font-size: 20px;
  font-weight: bold;
}
.site-map li,
.socials li {
  margin-top: 12px;
}
